/* 기본 컨테이너 스타일 */
.container {
  text-align: center;
  padding: 20px;
}

/* 타겟 이미지 스타일 */
.target-img {
  width: 300px;
  height: 400px;
  margin: 10px;
  border: 2px solid #ddd;
  /* 테두리 */
  border-radius: 10px;
  /* 둥근 모서리 */
  cursor: pointer;
  /* 마우스 오버 시 커서 변경 */
}

.target-img:hover {
  border-color: #007bff;
  /* 이미지 호버 시 테두리 색상 변경 */
}

.target-img.selected {
  border-color: #007bff;
}

/* 버튼 스타일 */
.btn {
  padding: 10px 20px;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn:active {
  background-color: #004299;
}

/* 로딩 인디케이터 스타일 */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  z-index: 1000;
}

/* 스피너 스타일 */
.spinner {
  border: 5px solid #881212;
  border-top: 5px solid #d1dce3;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

/* 스피너 애니메이션 */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}